// to prevent it from getting higher than the actual img (until I find a better way)
.logo {
	height: 44px;
}

// to center it properly (until I find a better way)
.header_about {
	height: 44px;
	line-height: 44px;
}